<div class="container">
  <footer class="footer">
    <p>&copy; Paul Colusso, <%= Time.now.year %><br>
   	<small>
   	<% if logged_in? %>
   			<%=link_to "Logout", logout_path, method: :delete%> | 
   			<%=link_to "Profile", user_path(current_user)%>
   		<% else %>
   			<%=link_to "Log In", login_path%>
   		<% end %>
   	 | <%= link_to "Sign Up", signup_path%></small>
    </p>
  </footer> 
</div>